/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



/* Apply flex */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  /* background-color: aqua; */
background: rgb(86,145,224);
background: radial-gradient(circle, rgba(86,145,224,1) 17%, rgba(0,117,255,1) 73%);
}

/* Main Container */
.wrapper {
  width: 440px;
  /* background-color: #fff; */
  /* background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,117,255,1) 100%); */

background: rgb(134,223,224);
background: linear-gradient(0deg, rgba(134,223,224,1) 20%, rgba(79,169,231,1) 74%);

  padding: 2.5rem;
  flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 66px -30px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 66px -30px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 66px -30px rgba(0, 0, 0, 0.75);
}

/* Clock image */
.wrapper img {
  max-width: 100px;
}

/* Time text */
.wrapper h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 2.5rem 0;
}

/* Main content */
.wrapper .content {
  width: 100%;
  justify-content: space-evenly;
}

/* Disable content menu */
.wrapper .content.disable{
    opacity: 0.6;
    pointer-events: none;
}

/* Hour Minute AM/PM section */
.content .column {
  border-radius: 5px;
  border: 1px solid #999;
  width: calc(100% / 3 - 5px);
}

.content .column select {
  outline: none;
  border: none;
  height: 53px;
  width: 100%;
  font-size: 1rem;
  padding-left: 10px;
  cursor: pointer;
  background-color: rgb(218, 239, 244);
  border-radius: 5px;
  font-weight: 600;
}

/* Set Button */
.wrapper button {
  width: 100%;
  margin-top: 20px;
  font-size: 1.3rem;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  background-color: brown;
  background-color: rgb(174, 52, 52);
  padding: 1rem 0;
  cursor: pointer;
}

/* Click effect on button */
.wrapper button:active , #resumeBtn:active{
  background-color: rgb(174, 52, 52);
  font-size: 1.2rem;
  /* padding: 0.8rem 0; */
}

/* Resume button */
#resumeBtn{
  background-color: rgb(9, 107, 255);
  color: #fff;
}

/* Background */
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 25;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #E45A84;
    top: 44%;
    left: 73%;
    animation-duration: 80s;
    animation-delay: -217s;
    transform-origin: -1vw 12vh;
    box-shadow: 40vmin 0 5.397658184998836vmin currentColor;
}
.background span:nth-child(1) {
    color: #FFACAC;
    top: 65%;
    left: 86%;
    animation-duration: 66s;
    animation-delay: -227s;
    transform-origin: -14vw 19vh;
    box-shadow: 40vmin 0 5.536777066424221vmin currentColor;
}
.background span:nth-child(2) {
    color: #583C87;
    top: 75%;
    left: 70%;
    animation-duration: 36s;
    animation-delay: -133s;
    transform-origin: 13vw 18vh;
    box-shadow: -40vmin 0 5.950230429812321vmin currentColor;
}
.background span:nth-child(3) {
    color: #583C87;
    top: 53%;
    left: 79%;
    animation-duration: 244s;
    animation-delay: -129s;
    transform-origin: -9vw -1vh;
    box-shadow: -40vmin 0 5.265114483627309vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 61%;
    left: 85%;
    animation-duration: 87s;
    animation-delay: -198s;
    transform-origin: 2vw -12vh;
    box-shadow: -40vmin 0 5.41238353578166vmin currentColor;
}
.background span:nth-child(5) {
    color: #E45A84;
    top: 58%;
    left: 69%;
    animation-duration: 43s;
    animation-delay: -27s;
    transform-origin: -12vw -1vh;
    box-shadow: 40vmin 0 5.689495984671025vmin currentColor;
}
.background span:nth-child(6) {
    color: #E45A84;
    top: 16%;
    left: 68%;
    animation-duration: 25s;
    animation-delay: -242s;
    transform-origin: -18vw -17vh;
    box-shadow: 40vmin 0 5.697167838206454vmin currentColor;
}
.background span:nth-child(7) {
    color: #FFACAC;
    top: 21%;
    left: 59%;
    animation-duration: 117s;
    animation-delay: -87s;
    transform-origin: 14vw -23vh;
    box-shadow: -40vmin 0 5.767714741359953vmin currentColor;
}
.background span:nth-child(8) {
    color: #FFACAC;
    top: 18%;
    left: 85%;
    animation-duration: 214s;
    animation-delay: -143s;
    transform-origin: -14vw 12vh;
    box-shadow: -40vmin 0 5.778735909882759vmin currentColor;
}
.background span:nth-child(9) {
    color: #E45A84;
    top: 26%;
    left: 91%;
    animation-duration: 124s;
    animation-delay: -97s;
    transform-origin: 20vw -3vh;
    box-shadow: 40vmin 0 5.581608546499836vmin currentColor;
}
.background span:nth-child(10) {
    color: #583C87;
    top: 20%;
    left: 5%;
    animation-duration: 59s;
    animation-delay: -52s;
    transform-origin: -1vw 7vh;
    box-shadow: 40vmin 0 5.672234448017375vmin currentColor;
}
.background span:nth-child(11) {
    color: #E45A84;
    top: 24%;
    left: 28%;
    animation-duration: 174s;
    animation-delay: -154s;
    transform-origin: 13vw 3vh;
    box-shadow: -40vmin 0 5.789062973171827vmin currentColor;
}
.background span:nth-child(12) {
    color: #E45A84;
    top: 35%;
    left: 40%;
    animation-duration: 119s;
    animation-delay: -68s;
    transform-origin: -21vw 9vh;
    box-shadow: 40vmin 0 5.248373571263998vmin currentColor;
}
.background span:nth-child(13) {
    color: #E45A84;
    top: 18%;
    left: 2%;
    animation-duration: 13s;
    animation-delay: -108s;
    transform-origin: 12vw -11vh;
    box-shadow: 40vmin 0 5.311520063130651vmin currentColor;
}
.background span:nth-child(14) {
    color: #E45A84;
    top: 90%;
    left: 71%;
    animation-duration: 111s;
    animation-delay: -47s;
    transform-origin: -9vw -9vh;
    box-shadow: 40vmin 0 5.867463810849702vmin currentColor;
}



/* Media queries */
@media screen and (max-width: 500px) {
  .wrapper {
    width: 95vw;
  }
}
